.app-cont{
    width:800px;
    height:800px;
}
.calculator{
    display: grid;
    grid-template-columns:repeat(4,50px);
}
button{
    height:50px;
    background-color:whitesmoke;
    border:1px solid black;
}
button.operators {
    background-color:lightcoral;
}
.display{
    grid-column-start: 1;
    grid-column-end: 5;
    height:50px;
    font-size:40px;
    text-align: right;
    border:1px solid black;
    padding-right:10px;
    padding-top:5px;
    

}
#head{
    width:500px;
    height:30px;
    padding:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#para{
    width:1000px;
    padding-top:30px;
    padding-bottom:30px;
    padding-right:100px;
    padding-left:100px;
    font-size: larger;
    font-style:italic;
    font-stretch:extra-expanded;
    font-weight:500;
    

}